body{
  background-color: #8895B3;
}
h1{
  font-size: 300%;
  letter-spacing: 2px;
  color: #2B3A67;
  text-decoration: underline;
  font-family: "Papyrus";
}
p{
  color: #2B3A67;
  font-family: "Papyrus";
}
img{
  border-style: ridge;
  border-color: #2B3A67;
}
