body{
  background-color: #7B886B;
}
h1{
  font-size: 300%;
  letter-spacing: 2px;
  color: #3E4536;
  font-family: "Courier New";
  float: center;
}
p{
  color: #3E4536;
  font-family: "Courier New";
  font-size:150%
}
img{
  border: dashed 5px;
  border-color: #3E4536;
  float: center;
}
li a{
  float: right;
  font-family: "Courier New";
  border: ridge;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
a:link, a:visited {
  background-color: #525B48;
  color: black;
  border: 2px;
  border-color: #3E4536; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #3E4536;
  color: #8895B3;
  font-family: "Courier New";
}
img{
  height: 50%;
  width: 25%;
}
ul{list-style-type: none;
}
